In [29]:
dir("string")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
string1 = "    "
string2 = "Hello"
string3 = "   Hello   "

print(string1.isspace())  # Output: True
print(string2.isspace())  # Output: False
print(string3.isspace())  # Output: False

True
False
False

In [3]:
#isalnum
a="123abc"
print(a.isalnum())

True

# LIST

In [7]:
#list creating 
l=[65,3,2,1,3,4,5,"hi","how","are ","****","you"]
print(l)

[65, 3, 2, 1, 3, 4, 5, 'hi', 'how', 'are ', '****', 'you']

In [5]:
#list update 

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]

a[3]=768768
print(a)

[1, 2, 3, 768768, 5, 6, 7, 8, 'hi', 'namaste']

In [13]:
#list indexing and slicing 
a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(a[2:9])

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(a[-1])

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(a[:9])

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(a[3:10:3])

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(a[-2:-10:-1])

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(a[::-1])

[3, 4, 5, 6, 7, 8, 'hi']
namaste
[1, 2, 3, 4, 5, 6, 7, 8, 'hi']
[4, 7, 'namaste']
['hi', 8, 7, 6, 5, 4, 3, 2]
['namaste', 'hi', 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
#length of list 
a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
print(len(a))

10

# methods of the list

In [19]:
#append

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]

a.append(5676)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 'hi', 'namaste', 5676]

In [ ]:
#INSERT

In [26]:

a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
a.insert(0,"weekend in Australia")
print(a)


fruits = ['apple', 'banana', 'cherry']
print("Original list:", fruits)

# Inserting a new element at index 1
fruits.insert(1, 'orange')
print("After inserting 'orange' at index 1:", fruits)

# Inserting another element at the beginning of the list
fruits.insert(0, 'grape')
print("After inserting 'grape' at index 0:", fruits)

['weekend in Australia', 1, 2, 3, 4, 5, 6, 7, 8, 'hi', 'namaste']
Original list: ['apple', 'banana', 'cherry']
After inserting 'orange' at index 1: ['apple', 'orange', 'banana', 'cherry']
After inserting 'grape' at index 0: ['grape', 'apple', 'orange', 'banana', 'cherry']

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
a=[1,2,3,4,5,6,7,8,"hi", "namaste"]
a.remove(1)
print(a)

[2, 3, 4, 5, 6, 7, 8, 'hi', 'namaste']

In [35]:
a=[1,2,3,4,5,6,7,8,1,"hi", "namaste"]
a.remove(1)
print(a)

[2, 3, 4, 5, 6, 7, 8, 1, 'hi', 'namaste']

In [36]:
a=[1,2,3,4,5,6,7,8,1,"hi", "namaste"]
a.reverse()
print(a)

['namaste', 'hi', 1, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
#remove
a = [1, 2, 3, 4, 5, 6, 7, 8, 1, "hi", "namaste"]

# Remove the first occurrence of 1
a.remove(1)

# Remove the last occurrence of 1
a.reverse()
a.remove(1)
a.reverse()

print(a)

[2, 3, 4, 5, 6, 7, 8, 'hi', 'namaste']

In [39]:

#pop
a=[1,2,3,4,5,6,7,8,1,"hi", "***","namaste"]
a.pop(3)
print(a)

[1, 2, 3, 5, 6, 7, 8, 1, 'hi', '***', 'namaste']

In [41]:
a = [10, 20, 30, 40, 50]

# Find the index of the element 30
index = a.index(30)
print(index)

2

In [45]:
l = [12, 13, 14, 14,15, 16]

# Count the occurrences of the element 
a=l.count(13)
print(a)
a=l.count(14)
print(a)

1
2

In [48]:
#sort(): Sorts the list in ascending order.
a = [3, 1, 2]
a.sort()
print(a)  # Output: [1, 2, 3]

[1, 2, 3]

In [51]:
a = [1, 2, 3]
b = [4, 5]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]

In [5]:
#Take the input from the user to make a list :
num = int(input("Please enter how many numbers you want: "))

l = []  # Initialize an empty list to store the numbers

for i in range(num):
    z = int(input("Please enter a number: "))
    l.append(z)

print("Input List:", l)

Please enter how many numbers you want: 7
Please enter a number: 1
Please enter a number: 34
Please enter a number: 76
Please enter a number: 78
Please enter a number: 98
Please enter a number: 23
Please enter a number: 12
Input List: [1, 34, 76, 78, 98, 23, 12]

# TUPLE

In [ ]:
#create a tuple

In [5]:
fruit = ("Mango", "Grapes")
print(fruit)

('Mango', 'Grapes')

In [6]:
#We can access tuple items by referring to the index number, inside square brackets 
print(fruit[1])

Grapes

In [7]:
tuple = (1, 2, "@", "$", "!")
print(tuple)

(1, 2, '@', '$', '!')

In [8]:
print(len(tuple))

5

In [9]:
print(len(tuple)-1) # way to target last element of the string

4

In [11]:
print (tuple[4])

!

In [13]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [19]:
tuple = (1, 2,1,10,10,10 ,"@", "$", "!")
a=tuple.count(10)
print(a)

3

# SET { }

In [22]:
#EMPTY SET CREATION 

a={}
print(type(a))

a=()
print(type(a))

a=set()
print(type(a))

<class 'dict'>
<class 'tuple'>
<class 'set'>

In [24]:
a={5,6,7,8,6}
print(a)
print(type(a))

{8, 5, 6, 7}
<class 'set'>

In [25]:
a={"United States of America","China" ,"is no morea single  superpower after" ,"2020" ,"!!!"}
print(a)# set is unordered

{'is no morea single  superpower after', '!!!', 'United States of America', 'China', '2020'}

In [26]:
a={"United States of America","China" ,"is no morea single  superpower after" ,"2020" ,"!!!"}
a.add("New Element")
print(a)

{'is no morea single  superpower after', 'New Element', '!!!', 'China', 'United States of America', '2020'}

In [27]:
a={"United States of America","China" ,"is no morea single  superpower after" ,"2020" ,"!!!"}
a.remove("China")
print(a)

{'is no morea single  superpower after', '!!!', 'United States of America', '2020'}

In [28]:
a={"United States of America","China" ,"is no morea single  superpower after" ,"2020" ,"!!!"}
a.clear()
print(a)

set()

In [29]:
a={'is no morea single  superpower after', '!!!', 'United States of America', '2020'}
a.discard("China")
print(a)#remain unchange

{'is no morea single  superpower after', 'United States of America', '2020', '!!!'}

In [30]:
a={'is no morea single  superpower after', '!!!', 'United States of America', '2020'}
a.remove("China")
print(a)#remain unchange

KeyError: 'China'

In [33]:

a={"United States of America","China" ,"is no morea single  superpower after" ,"2020" ,"!!!"}
b = a.pop()
print(b)

is no morea single  superpower after

In [34]:
a = {"United States of America", "China", "is no morea single superpower after", "2020", "!!!"}
b = {"New Element 1", "New Element 2"}

a.update(b)
print(a)

{'New Element 1', '!!!', 'China', 'United States of America', '2020', 'New Element 2', 'is no morea single superpower after'}

In [35]:
#Union using the union() method or the | (0r)operator:
a = {"United States of America", "China", "is no morea single superpower after", "2020", "!!!"}
b = {"China", "New Element 1", "New Element 2"}

c= a.union(b)
# Alternatively, you can use the '|' operator: c = a | b

print(c)

{'New Element 1', '!!!', 'China', 'United States of America', '2020', 'New Element 2', 'is no morea single superpower after'}

In [36]:
#Intersection using the intersection() method or the & operator:common in both the variable 
a = {"United States of America", "China", "is no morea single superpower after", "2020", "!!!"}
b = {"China", "New Element 1", "New Element 2"}
c = a.intersection(b)
# Alternatively, you can use the '&' operator: intersection_set = a & b

print(c)

{'China'}

In [37]:
#The difference set contains elements from set a that are not present in set b.
a = {"United States of America", "China", "is no morea single superpower after", "2020", "!!!"}
b = {"China", "New Element 1", "New Element 2"}

c = a.difference(b)
# Alternatively, you can use the '-'(substraction ) operator: difference_set = a - b(a minus b)

print(c)

{'2020', 'is no morea single superpower after', 'United States of America', '!!!'}

In [6]:
s= {1, 2, 3}  # Create a set
print("Original set:", s)

s.add(4)  # Add an element to the set
print("Modified set (after adding):",s)

s.remove(2)  # Remove an element from the set
print("Modified set (after removing):",s)

Original set: {1, 2, 3}
Modified set (after adding): {1, 2, 3, 4}
Modified set (after removing): {1, 3, 4}

# Dictionary

In [ ]:
:=COLON,; SEMICOLON ,IN DICTIONARY V USE COLON

In [12]:
d = {"key1": "value1", "key2": "value2", "key3": "value3"}
print(d)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [11]:
vehicle = {"brand": "ford", "model": "Mustang", "year": 1991}

print(type(vehicle))

<class 'dict'>

In [28]:
student = {"name": "Krishnamurti ayer ",
    "age": 20,
    "grade": "A"}
print(student)

{'name': 'Krishnamurti ayer ', 'age': 20, 'grade': 'A'}

In [29]:
#update the dictionary 
student = {"name": "Krishnamurti ayer ",
    "age": 20,
    "grade": "A"}

# Update the age and grade of the student
student["age"] = 21
student["grade"] = "B"

print("Updated Student:", student)

Updated Student: {'name': 'Krishnamurti ayer ', 'age': 21, 'grade': 'B'}

In [19]:
# add new property in dictionary 
student = {
    "name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"
}

# Add a new property to the student dictionary
student["school"] = "ABC School"

print("Updated Student:", student)

Updated Student: {'name': 'John', 'age': 20, 'grade': 'A', 'school': 'ABC School'}

In [30]:

student = {
    "name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"
}

del student["grade"]

print(" Student:", student)

 Student: {'name': 'krishnamurti ayer', 'age': 20}

In [31]:
#reading thd dictionary 

print(student["name"])

krishnamurti ayer

In [36]:
#methods in dictionary 
#len
student = {"name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"}
l= len(student)

print("Number of entries in the dictionary:", l)

Number of entries in the dictionary: 3

In [37]:
#pop
student = { "name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"}

# Remove the key-value pair with the key "age" using pop()
p = student.pop("age")

print("Removed value:", p)
print("Updated student dictionary:", student)

Removed value: 20
Updated student dictionary: {'name': 'krishnamurti ayer', 'grade': 'A'}

In [ ]:
student = {
    "name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"
}

# Remove an arbitrary key-value pair using popitem()
removed_item = student.popitem()

print("Removed item:", removed_item)
print("Updated student dictionary:", student)

In [32]:
#methods in dictionary 
#clear 
student.clear()
print(student)

{}

In [33]:
#copy 
s=student.copy()
print(student)
print(s)

{}
{}

In [34]:
student = {
    "name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"
}
s=student.copy()
print(student)
print(s)

{'name': 'krishnamurti ayer', 'age': 20, 'grade': 'A'}
{'name': 'krishnamurti ayer', 'age': 20, 'grade': 'A'}

In [ ]:
student = {
    "name": "krishnamurti ayer",
    "age": 20,
    "grade": "A"
}

In [39]:
information =  {"name": "Gaganlal trivedi",
        "email": "gaganlal@example.com",
        "city": "Bangalore",
        "skills": ["Python", "JavaScript", "Data Analysis"]},
    # Add more entries with the same structure...


# Print the information list
print(information)

({'name': 'Gaganlal trivedi', 'email': 'gaganlal@example.com', 'city': 'Bangalore', 'skills': ['Python', 'JavaScript', 'Data Analysis']},)

In [44]:
information = [
    {
        "name": "Gaganlal trivedi",
        "email": "gaganlal@example.com",
        "city": "Bangalore",
        "skills": ["Python", "JavaScript", "Data Analysis"]
    },
    {
        "name": "Nitin pal",
        "email": "nitin@example.com",
        "city": "Hubli",
        "skills": ["Java", "C++", "Database Management"]
    },
    {
        "name": "krishnamurti ayer",
        "email": "krishnamurtiayer@example.com",
        "city": "vishakatapanam",
        "skills": ["HTML", "CSS", "Web Design"]
    }
    # Add more entries with the same structure...
]

# Print the information list of dictionaries
print(information)

[{'name': 'Gaganlal trivedi', 'email': 'gaganlal@example.com', 'city': 'Bangalore', 'skills': ['Python', 'JavaScript', 'Data Analysis']}, {'name': 'Nitin pal', 'email': 'nitin@example.com', 'city': 'Hubli', 'skills': ['Java', 'C++', 'Database Management']}, {'name': 'krishnamurti ayer', 'email': 'krishnamurtiayer@example.com', 'city': 'vishakatapanam', 'skills': ['HTML', 'CSS', 'Web Design']}]

# Conditional Statements