# string concatenation

In [1]:
a="hi India"
b="hello Japan"
c=a+b
print(c)

hi Indiahello Japan

In [18]:
#write the code 
a="fine"
b="I am "
c= b+a
print (c)
print(len(c))
print (a[0])
print (a[1])
print (a[2])
print (a[3])
print("g"+a[1:])

I am fine
9
f
i
n
e
gine

In [2]:
a="hi India"
b="hello Japan"
c=a+ " " +b
print(c)

hi India hello Japan

In [ ]:
#write the code

In [4]:
a = "hello"
print(len(a))  # Output: 5

5

In [5]:
a="hello"
print(len(a))

5

In [6]:
print(a[1])

e

In [8]:
print("neno technology")

neno technology

In [12]:
a="neno technology"
print(a[0:5])

neno

In [13]:
print(a[0:])

neno technology

In [3]:
a='Data'
print(a[::-1])

ataD

In [ ]:
a="anaconda nevigator "

In [6]:
print(a[: 5 -1])

Data

In [ ]:
g="anaconda nevigator"

In [8]:

print(g[2:6])

NameError: name 'g' is not defined

In [ ]:
string="anaconda"

In [10]:
string="anaconda"
print(string[3:6])

con

# String is Immutable :## once the string is created its content can not be changed

In [2]:
string="hello"
# trying an attempt to change H in hello to M , Mello 
#giving value of zero index 
srting[0]="M"
print(string)

NameError: name 'srting' is not defined

In [ ]:
#To change a string, you would need to create a new string,
#either by concatenation, slicing, or using string methods.

In [2]:
# string concination 

a="hello"
b="m"+a[1:]
print(b)

mello

In [ ]:
a="neno technology "
print((a[3]),end=" ")

 # ...end =" "   .....end"\n"

In [22]:


print=("the class is going on ")#end"\n" 
#back slash end is automatic built 

print=("class will be conducted on sunday also" )

In [8]:


print=("the class is going on ")

In [ ]:
 seprate from sep=""

# sep

In [1]:
print("second" ,"revolution" ,"second revolution ", sep="--")

second--revolution--second revolution

# IN AND NOT IN 

S="Another day with string"
print("day in s)

In [23]:
s=("another day with string ")
print("day" in s )

TypeError: 'str' object is not callable

# In and Not IN

In [9]:
s=("another day with string ")
print("day"in s)

True

In [10]:
s=("another day with string ")
print("dayas"in s)

False

In [86]:
s=("another day with string ")
print("dayasd" not in  s)

TypeError: 'bool' object is not callable

# string slicing

In [12]:
a="national board of education common for all "
print(a[3:-2])

ional board of education common for al

In [13]:
a="national board of education common for all "
print (a[::-1])#reverce the string

 lla rof nommoc noitacude fo draob lanoitan

In [17]:
a="national board of education common for all "
print(a[:8:3])

nia

In [22]:
a="national board of education common for all "
print(a[:19:-1])

 lla rof nommoc noitacu

# Indexing

In [1]:
string = "Hello, World!"

print(string[0])   
print(string[7])  
print(string[-1])

H
W
!

# formated string Letter and No combined

In [10]:
a="Anuradha"
age =12 

m=f"{a} is {age}years old and she can not vote "
print(m)

Anuradha is 12years old and she can not vote

In [17]:
a="India" 
year=1950

print(f"{a} became republic in {year}")

India became republic in 1950

# length of the string

In [19]:
s="ai will not be able to replace the line category of the "
print(len(s))

56

In [20]:
s="machine learning "
print(len(s))

16

In [21]:
g="good"
print(len(g))

4

# String Methods

In [ ]:
syntex of calling method:name of the mentho()

In [ ]:
#capitalize:only first character capatilize

In [24]:
s="neno technology"
print(s.capitalize())

Neno technology

In [ ]:
#upper :all characters in upper cae

In [27]:
s="Banglore "
print(s.upper())

BANGLORE

In [ ]:
#lower case

In [28]:
s="mahaRASHTA"
print(s.lower())

maharashta

In [ ]:
# title :first letter of each word capital

In [29]:
s="JAMBU AND KASHmir"
print(s.title())

Jambu And Kashmir

In [ ]:
#swapcase:lower case ->upper case and lower  case .>upper case

In [3]:
s="CHange IS onlY CONstent"
print(s.swapcase())

chANGE is ONLy conSTENT

In [ ]:
#strip :to remove extra space from both the side

In [6]:
s="        All is well             "
print(s.strip())

All is well

In [10]:
s="   all is well   " #leading whitespace removed 
print(s.lstrip())

all is well

In [11]:
s="   all is well   " #trailing whitespace removed 
print(s.rstrip())

   all is well

In [ ]:
#split :one string is gettring converted into many strings
and returning list of string data type

In [12]:
s="India hold maximum percentage of the youth human resource "
print(s.split())

['India', 'hold', 'maximum', 'percentage', 'of', 'the', 'youth', 'human', 'resource']

In [19]:
a="07-3-2023"
b=a.split("-")
year=b[2]
month=b[1]
day=b[0]
print("year:",year)
print("month:",month )
print("day:",day)

year: 2023
month: 3
day: 07

In [ ]:
#Join method syntex :"  ".join()

In [21]:
s=["hello", "world "]
b=" ".join(s)
print(b)

hello world

In [23]:
s=['India', 'hold', 'maximum', 'percentage', 'of', 'the', 'youth', 'human', 'resource']
b="  ".join(s)
print(b)

India  hold  maximum  percentage  of  the  youth  human  resource

In [24]:
number=["1","2","3","4","5",]
b="  ".join(number)
print(b)

1  2  3  4  5

In [28]:
number=["1","2","3","4","5",]
b=" - ".join(number)
print(b)

1 - 2 - 3 - 4 - 5

In [25]:
number=["1","2","3","4","5",]
b="*".join(number)
print(b)

1*2*3*4*5

In [26]:
number=["1","2","3","4","5",]
b="  :) ".join(number)
print(b)

1  :) 2  :) 3  :) 4  :) 5

In [27]:
s=['India', 'hold', 'maximum', 'percentage', 'of', 'the', 'youth', 'human', 'resource']
b=" *  ".join(s)
print(b)

India *  hold *  maximum *  percentage *  of *  the *  youth *  human *  resource

In [ ]:
#Replace

In [32]:
s="Rainy seaseon produces greenery everywhere "
b=s.replace ("Rainy"," winter") # replace rainy by winter  
print(b)

 winter seaseon produces greenery everywhere

In [31]:
s="Rainy seaseon produces greenery everywhere "
b=s.replace ("Rainy"," winter") .replace("greenery","cold")# replace rainy by winter  
print(b)

 winter seaseon produces cold everywhere

In [ ]:
#count

In [45]:
s="make a paper boat and enjoy childhood "
b=s.count("a")
d=s.count("p")
print(b)
print(d)

5
2

In [43]:
s="make a paper boat and enjoy childhood "
b=s.count("a")
c=s.count("o")
d=s.count("p")
print(b , end=" ")
print(c ,end=" ")
print(d)

5 4 2

In [44]:
s="make a paper boat and enjoy childhood "
b=s.count("a")
c=s.count("o")
d=s.count("p")
print(b,c,d)

5 4 2

In [50]:
#Starstwith ()#chackpoint use 

s="live in present"
b=(s.startswith("live"))
print(b)

True

In [53]:
#endswith ()#chackpoint use 

s="live in present"
b=(s.endswith("present"))
print(b)

True

In [55]:
s="Demography refers to the scientific study of human population"
b=s.find("refers")
print(b) # provide the index value

11

In [ ]:
#FIND(NO ERROR HANDELING ) AND INDEX (ERROR HANDELING)

In [ ]:
# Both the find() and index() methods in Python are 
# used to search for a substring within a string 
# and return the index of the first occurrence of the substring. However, there are a few differences between these methods:

# Return Value:
# find(): If the substring is found, 
# find() returns the index of the first occurrence 
# of the substring. If the substring is not found, 
# it returns -1.



# index(): If the substring is found, 
#     index() returns the index of the 
#     first occurrence of the substring. 
#     If the substring is not found, it raises a ValueError.
# Error Handling:
# find():
# The find() method does not raise an exception 
# when the substring is not found. 
# It simply returns -1 in that case.



# index(): 
#  The index() method raises a ValueError 
# when the substring is not found. 
# This means you need to handle the exception
# when using index().
# Example usage of find() and index() methods:

In [56]:
s = "Hello, World!"
print(s.find("o"))     # Output: 4
print(s.find("z"))     # Output: -1

print(s.index("o"))    # Output: 4
print(s.index("z"))    # Raises ValueError: substring not found

4
-1
4

ValueError: substring not found

In [59]:
#isalpha #works without space
a="HelloWorld"
print(a.isalpha())

True

In [60]:
#isalpha
a="Hello World"
print(a.isalpha())

False

# Till here you use this notebook :rest do from self work no 2

In [2]:
#isalnum
a="123abc"
print(a.isalnum())

True

#learn string deleting

In [5]:
 #isspace() #Returns True if all characters in the string are whitespace, otherwise returns False
text = "   "
print(text.isspace())

True