In [1]:
#Arrange string characters such that lowercase letters should come first

a = input("Enter a string: ")

# Initialize empty strings to store lowercase and uppercase characters
l = ""
u = ""

# Iterate through each character in the input string
for char in a:
    if char.islower():
        l = l + char
    else:
        u = u + char

# Concatenate the lowercase characters first and then the uppercase characters
sorted_string= l + u

print("String with lowercase letters first:", sorted_string)

Enter a string: rtYUTYRYUYrtiopkYTYIOPMBGRrtilpmcaRTOKKFDF
String with lowercase letters first: rtrtiopkrtilpmcaYUTYRYUYYTYIOPMBGRRTOKKFDF

In [15]:
# Program to exchange the values of two variables

# Initial values of the variables
var1 = 10
var2 = 20

print("Before exchanging: ")
print("Variable 1:", var1)
print("Variable 2:", var2)

# Exchange the values without using a function
temp = var1
var1 = var2
var2 = temp

print("After exchanging: ")
print("Variable 1:", var1)
print("Variable 2:", var2)

Before exchanging:
Variable 1: 10
Variable 2: 20
After exchanging:
Variable 1: 20
Variable 2: 10

In [4]:
#Write a Python program using a for loop to find the sum of all numbers divisible by either 3 or 5 from 1 to 100.
# Code for Question 5
sum_divisible = 0

for num in range(1, 101):
    if num % 3 == 0 or num % 5 == 0:
        sum_divisible =sum_divisible+ num

# Print the numbers and the sum
print("Numbers divisible by either 3 or 5:", end=" ")
for num in range(1, 101):
    if num % 3 == 0 or num % 5 == 0:
        print(num, end=" ")

print("\nSum of numbers divisible by 3 or 5 from 1 to 100:", sum_divisible)

Numbers divisible by either 3 or 5: 3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100
Sum of numbers divisible by 3 or 5 from 1 to 100: 2418

In [5]:
#Calculate the sum of numbers from 1 to 100.
# 
sum_numbers = 0
for num in range(1, 101):
    sum_numbers =sum_numbers+ num
print("Sum of numbers from 1 to 100:", sum_numbers)

Sum of numbers from 1 to 100: 5050

In [12]:
#Find the sum of all even numbers between 1 and 50.
# Code Solution for Exercise 3
sum_even = 0

for num in range(1, 51):
    if num % 2 == 0:
        sum_even =sum_even+ num

print("Sum of even numbers between 1 and 50 is:", sum_even)

Sum of even numbers between 1 and 50 is: 650

In [3]:
#qus :Print natural number up to n. 
#Natural numbers are a part of the number system which includes all the positive integers 
#from 1 till infinity and are also used for counting purpose. It does not include zero (0).
#In fact, 1,2,3,4,5,6,7,8,9…., are also called counting numbers.

#Natural numbers are part of real numbers, that include only the positive integers i.e. 1, 2, 3, 4,5,6, ……….
#excluding zero, fractions, decimals and negative numbers.

n = 0
while n < 8:
    n = n + 1
    print(n)

1
2
3
4
5
6
7
8

In [6]:

#In form of the user input : wrong 
n = int(input("Enter a positive integer 'n'for n positive integer you want : "))
if n <= 0:
    print("Please enter a positive integer.")
else:
    for i in range(n):
        print(n)

Enter a positive integer 'n'for n positive integer you want : 6
6
6
6
6
6
6

In [7]:

#In form of the user input :correct 
n = int(input("Enter a positive integer 'n'for n positive integer you want : "))
if n <= 0:
    print("Please enter a positive integer.")
else:
    for i in range(1, n + 1):
        print(i)

Enter a positive integer 'n'for n positive integer you want : 5
1
2
3
4
5

In [9]:
#Reverse for loop. Print n to 1.
n = int(input("Enter a positive integer 'n': "))

if n <= 0:
    print("Please enter a positive integer.")
else:
    for i in range(n, 0, -1):
        print(i)

Enter a positive integer 'n': 5
5
4
3
2
1

In [6]:
#To take the input from the user in form of the name nd ask to do so in the given limit 

max_attempt = 3

for attempt in range(max_attempt):
    a = input("Please enter the name: ")
    if a.isalpha():
        print("You entered:", a)
        break
    else:
        print("Invalid input. Please enter the correct credential ")
else:
    print("You have exceeded the maximum number of attempts.")

You entered: Bhairun

In [17]:
# Creating a multiplication table of 6 using a while loop

# Initialize the multiplication factor and the counter
factor = 6
counter = 1

# Print the table using a while loop
while counter <= 10:
    result = factor * counter
    print(f"{factor} x {counter} = {result}")
    counter += 1

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [18]:
# Taking user input to create a multiplication table of a particular number using a while loop

# Get the number for which the multiplication table is required
number = int(input("Enter the number for the multiplication table: "))

# Initialize the counter
counter = 1

# Print the table using a while loop
while counter <= 10:
    result = number * counter
    print(f"{number} x {counter} = {result}")
    counter += 1

Enter the number for the multiplication table: 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [2]:
# Get five inputs from the user
input1 = input("Enter the first value: ")
input2 = input("Enter the second value: ")
input3 = input("Enter the third value: ")
input4 = input("Enter the fourth value: ")
input5 = input("Enter the fifth value: ")

# Create a tuple with the inputs
user_tuple = (input1, input2, input3, input4, input5)

# Print the tuple
print("The tuple containing the user inputs:", user_tuple)

Enter the first value: fth
Enter the second value: fdef
Enter the third value: efwf
Enter the fourth value: fer
Enter the fifth value: rtre
The tuple containing the user inputs: ('fth', 'fdef', 'efwf', 'fer', 'rtre')

In [3]:
#user input and count for string 
a= input("Please enter a string: ")
count = 0

for char in a:
    if char.isalpha():
        count =count + 1

print("Number of letters in the string (excluding spaces):", count)

Please enter a string: shailja
Number of letters in the string (excluding spaces): 7

In [4]:
n = int(input("Please enter the number of items you want in the list: "))

list= []

for i in range(n):
    item = int(input("Enter number: "))
    list.append(item)

print("The list you entered:", list)

Please enter the number of items you want in the list: 4
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 6
The list you entered: [3, 4, 5, 6]

In [2]:
#Print list in ascending or descending order
a = [5, 2, 8, 1, 3]

# Sort the list in ascending order using sort()
a.sort()
print("Sorted list in ascending order:", a)

# Sort the list in descending order using sort() with reverse=True
a.sort(reverse=True)
print("Sorted list in descending order:", a)

Sorted list in ascending order: [1, 2, 3, 5, 8]
Sorted list in descending order: [8, 5, 3, 2, 1]

In [3]:
# Get input from the user for even character display 
a = input("Enter a string: ")

# Extract characters at even indices into a string
even= ""
for i in range(len(a)):
    if i % 2 == 0:
        even=even+a[i]

# Print the result
print("Characters at even indices in the string:", even)

Enter a string: njaefjwmsbcjsddfersdbdcwefwksbjcvdhfkr
Characters at even indices in the string: nafwscsdesbcewsjvhk

In [5]:
odd index value characters 
# Get input from the user
a = input("Enter a string: ")

# Extract characters at even indices into a string
odd = ""
for i in range(len(a)):
    if i % 2 != 0:
        odd=odd+ a[i]

# Print the result
print("Characters at even indices in the string:", odd)

Enter a string: nehehwfkemcjdoiwjcwkjhiuejjcgewkskcsaka
Characters at even indices in the string: eewkmjowckhujcekksk

# nested loop 
#1while -while
#2. for for 
#3. while -for 
#4 for -while

In [6]:
#step 1
for a in range(1,10):
   print(a)

1
2
3
4
5
6
7
8
9

In [7]:
#step 1.1
for a in range(1,10):
   print(a,end=" ")

1 2 3 4 5 6 7 8 9

In [11]:
#STEP 2 
for x in range (3):
        print(x)

0
1
2

In [14]:
#we want to join step 2 and step 1
#as we want to print step 1, times  3 
for x in range (3):
    for a in range (1,10):
        print(a)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [20]:
#Write a Python program using nested for loops to create a pattern of the following sequence:

#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5
# step 1 

for j in range(1, i + 1):
        print(j, end=" ")
    #print()

1 2 3 4 5

In [21]:
# step 2 
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
rows = int(input("Please enter the number of rows you want: "))
columns = int(input("Please enter the number of columns you want: "))
symbol = input("Enter the symbol: ")

for i in range(rows):
    for x in range(columns):
        print(symbol, end=" ")
    print()  # Add this to move to the next line after each row is printed.

Please enter the number of rows you want: 7
Please enter the number of columns you want: 12
Enter the symbol: *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * *

In [ ]:
# Get the input string from the user
#Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.
#unique means = nod duplicate 
input_string = input("Enter a string: ")

# Step 1: Split the input string into words
words = input_string.split()

# Step 2: Create an empty list to store unique words
unique_words_list = []

# Step 3: Iterate through the words and add unique words to the list
for word in words:
    if word not in unique_words_list:
        unique_words_list.append(word)

# Step 4: Print the list of unique words
print("List of unique words:", unique_words_list)